In [1]:
import pandas as pd

In [3]:
train = pd.read_csv("excel_full_train.csv")
train.head(1)

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,1,0,3,7.25,22.0,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
test = pd.read_csv("excel_test.csv")
test.head(1)

,PassengerId,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,892,3,7.8292,34.5,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
X = train.drop(['PassengerId','Survived'], axis = 1)

In [6]:
y = train['Survived']

In [7]:
#### Use Test Train Split to divide into train and test
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=21)

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
treeModel = DecisionTreeClassifier()

In [10]:
treeModel.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [11]:
treeModel.score(X_train, y_train)

0.9967897271268058

In [12]:
best_feat = pd.DataFrame({'Features':X_train.columns,'Importance':treeModel.feature_importances_})
best_feat.sort_values('Importance', ascending = False).head(10)

        Features  Importance
6       Title_Mr    0.305071
1         Fare_1    0.202169
2          Age_1    0.200363
3         Family    0.103715
0         Pclass    0.054379
16       Cabin_D    0.018578
13       Cabin_C    0.016510
23   Ticket_xxx     0.015082
37  Ticket_SWPP     0.011011
30    Ticket_WC     0.009531

### Evaluation of Test

In [13]:
X_test.head(1)

,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,Title_Master,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
617,3,16.1,26.0,2,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
y_pred = treeModel.predict(X_test)

In [15]:
from sklearn.metrics import classification_report

In [16]:
print(classification_report(y_test,y_pred ))

              precision    recall  f1-score   support

           0       0.80      0.81      0.81       161
           1       0.71      0.69      0.70       107

    accuracy                           0.76       268
   macro avg       0.76      0.75      0.75       268
weighted avg       0.76      0.76      0.76       268

In [17]:
#Close to what we have on our trained dataset
treeModel.score(X_train, y_train)

0.9967897271268058

### Prediction of Test

In [18]:
sub_test = test.drop(['PassengerId'], axis = 1)

In [19]:
sub_test_pred = treeModel.predict(sub_test).astype(int)

In [20]:
AllSub = pd.DataFrame({ 'PassengerId': test['PassengerId'],
                       'Survived' : sub_test_pred
    
})

AllSub.to_csv("All_Var_Video_DT1_basic.csv", index = False)